/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';
@import url(http://fonts.googleapis.com/css?family=Cardo|Kaushan+Script);

body {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 200;
	color: #777;
	font-family: 'Cardo', Helvetica, Arial, serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Kaushan Script', Georgia, serif, cursive;
	color: #777;
	font-weight: 300;
}
a {
	color: #777;
	font-weight: 300;
}
img.aligncenter {
	display: block;
	margin: 0 auto;
}

/* chromeframe error */
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}
.page-header-top-right {
	margin-top: 10px;
}
.pagination {
	margin: 0;
}
.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}
.required {
	color: #f00;
}
.row-with-vspace {
	margin-bottom: 20px;
}
.no-margin {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
main {
	background: #F1F1F1 url("../img/beauty-salon-taunton-background.jpg") center bottom repeat-x;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #D6D6D6;
}
main ul {
	padding: 0;
	margin: 0;
}
main li {
	list-style: none;
}
main #main-column img {
	display: block;
	margin: 0 auto;
	border: solid 1px #999;
	width: 100%;
}
main#main #main-column img.ajax-loader {
	display: none;
}
#site-header {
	background: #7d589e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkNTg5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzQzMzE1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzMxNWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7d589e 0%, #43315e 90%, #43315e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d589e), color-stop(90%,#43315e), color-stop(100%,#43315e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d589e 0%,#43315e 90%,#43315e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d589e 0%,#43315e 90%,#43315e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d589e 0%,#43315e 90%,#43315e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d589e 0%,#43315e 90%,#43315e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d589e', endColorstr='#43315e',GradientType=0 ); /* IE6-8 */
}
#site-header .navbar {
	margin-top: 35px;
	margin-bottom: 0;
	border-bottom: none;
}
#site-header .navbar li {
	background: #F1F1F1;
}
#site-header .navbar-toggle {
	border: 1px solid #FFF;
}
#site-header .navbar-toggle .icon-bar {
	background: #FFF;
}
#menu-primary-navigation {
	padding-top: 20px;
}
#menu-primary-navigation li.active a {
	background: #FFF;
	color: #FFF;
}
#menu-primary-navigation li.active a:hover {
	background: #4D8B87;
}
#page-contact .btn-primary {
	background: linear-gradient(to bottom, #005953 0px, #002F38 100%);
}
#page-contact .entry-content img {
	left: left;
	max-width: 100px;
	width: auto;
	height: auto;
}
#treatments {
	padding-left: 0;
	padding-right: 0;
}
#treatments .treatment,
#treatments .sub-treatment {
	padding-bottom: 25px;
	text-align: center;
}
#treatments .sub-treatment .treatment-desc {
	border-top: solid 1px #CCC;
}
#treatments .treatment .img-container {
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-top: solid 1px #CCC;
}
#treatments .treatment-desc .treatment-title {
	font-size: 22px;
	font-weight: bold;

}
#treatments .treatment-desc {
	background: #F9F9F9;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
#treatments .treatment,
.feature-img {
	max-width: 450px;
	margin: 0 auto;
}
.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}
.site-title {
	margin-bottom: 5px;
	margin-top: 5px;
	height: 65px;
}
.site-title a {
	text-decoration: none;
	color: #FFF;
}
.site-title a img {
	display: inline-block;
	margin-top: 0;
	float: left;
}
.site-title a span {
	display: inline-block;
	margin-top: 25px;
	float: left;
}
.site-title > div {
	height: auto;
	line-height: 18px;
}
.site-title .site-description {
	color: #999;
	font-size: 16px;
}
.site-title .site-title-heading {
	margin: 0;
}
.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}
#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}
#main-column h2 {
	margin: 0;
}
#main-column hr {
	border-color: #CCC;
}
#main-column img,
#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a, 
#main-column .attachment .entry-meta .edit-post-link a, 
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title, 
#main-column .post .entry-title,
#main-column .page .entry-title {
	margin-top: 0;
	word-wrap: break-word;
}
#sidebar-left .widget,
#sidebar-right .widget {
	border: 1px solid #eee;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}
#featured-treatments {
	background: #F9F9F9;
	border-top: solid 1px #D6D6D6;
	border-bottom: solid 1px #D6D6D6;
}
#site-footer a {
	color: #FFF;
}
#site-footer {
	background: #444;
	font-size: 14px;
	padding: 10px;
	color: #FFF;
}
#page-home #treatments .treatment-desc {
	background: #FFF;
}
/***************************
* Slider styles
****************************/
#page-home #main {
	padding-bottom: 0;
}
#page-home #main-column {
	overflow-x: visible;
}
#page-home #main .rslides_container {
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
	padding-left: 24px;
}
#page-home #main .rslides_container ul li {
	max-width: 1092px; 
}
#page-home #main .rslides_nav {
	position: absolute;
	height: 100%;
	z-index: 99;
	width: 25px;
}
#page-home #main .prev {
	left: 0px;
	background: url("../img/beauty-salon-taunton-slider-prev.png") no-repeat 50% 50% transparent;
	border: solid #E1E1E1 1px;
}
#page-home #main .next {
	right: 0px;
	background: url("../img/beauty-salon-taunton-slider-next.png") no-repeat 50% 50% transparent;
	border: solid #E1E1E1 1px;
}
.contact-map {
	border: 1px solid #CCC;
}
@media (max-width: 1200px) {
	#page-home #main .rslides_container {
		padding-left: 0px;
	}
}
@media (max-width: 992px) {
	#site-header .site-title a span{
		font-size: 28px;
	}
	#site-header .nav > li > a {
		padding: 18px 5px;
	}
	#get_in_touch .text-right, #get_in_touch .text-left {
		text-align: center;
	}
	#contact-fb, #contact-twt {
		margin: 10px 0;
	}
	#site-footer .footer-left, #site-footer .footer-right {
		text-align: center;
	}
	#site-header .navbar {
		margin-top: 0px;
	}
	.main-navigation {
		margin-top: 25px;
	}
}
@media (max-width: 768px) {
	#site-header .navbar {
		margin-top: 0px;
	}
	#site-header .pull-right {
		float: none !important;
	}
	.site-branding {
		width: 100%;
	}
	.main-navigation {
		margin-top: 0;
		width: 100%;
	}
	#site-header .navbar li {
		background: transparent;
	}
	#site-header .navbar li a {
		color: #FFF;
	}
}
@media (max-width: 480px) {
	#site-header .site-title {
		height: 50px;
		margin-bottom: 0;
	}
	#site-header .site-title a span {
		font-size: 22px;
		margin-top: 15px;
	}
	#site-header .site-title a img {
		width: 50px;
	}
	#site-header .navbar {
		margin-top: 0;
	}
	#page-home #main .prev {
		background: none transparent;
		border: none;
	}
	#page-home #main .next {
		background: none transparent;
		border: none;
	}
}